/* back.css */
* { margin:0; padding:0;}
body {
    background: url('../img/back.jpg') no-repeat center fixed;
    background-size: cover;
    width: 1000px;
    margin: 0 auto;
    text-shadow: 3px 4px 5px white;
}
/* 제목 */
h2 {
    margin: 300px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-size:35px;
    color: #296ea3;
    border-bottom-style: dotted;
    border-color: #aca0c3;

}
/* menu */
#nav p {
    margin-top: 20px;
    font-size:20px;
    font-weight: bold;
    margin-left:120px;
    color: #7388a5;
    
}
/* 목록 */
#nav li {
    display: inline-block;
    list-style-type:none;
    font-size: 25px;
    color: #ffffff;
    margin : 0 auto;
    text-align: center;
    padding-left:200px;
}
/* 링크 */
#nav a {
    text-decoration:none;
    color: #5a6f8c;
    font-weight: bold;
}
#nav a:hover {
    text-shadow: 3px 4px 5px #5a6f8c;
    color: white;
    font-weight: bold;
}