/* portfolio.css */
* { margin:0; padding:0;}
#wrapper {
    margin: 0 auto;
    text-align:center;   
}
@media screen and (min-width:764px) {
    #wrapper{
      max-width:1000px;
      margin:0 auto;
      text-align:center;
    }
}
ul { list-style: none;}

@media screen and (min-width:764px) {
    #top_menu{
      width: 1000px;
      height:50px;
    }
    #top_menu li{
        display: inline-block;
    }
    #top_menu a{
        font-size:25px;
        margin:8px 50px 25px 50px;
        font-weight:bold;
    }

}
#top_menu {
    
    margin: 10px 0px 20px 0px;
    padding: 0;
    text-align:center;
    position : relative;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border:solid 3px #e4e4e7;
}
#top_menu li{
    display:inline-block;
    font-size:18px;
    margin:8px 4px 5px 4px;
}

#top_menu a{
    color:#294e70;
    font-weight:bold;
   
}
#top_menu a:hover{
    color: white;
    text-shadow: 0px 0px 3px #294e70;
}
@media screen and (min-width:764px) {
    #portfolio{
        height:600px;
    }
    .A1{
        font-size: 3em;
        text-shadow:3px 3px 5px	#294e70;
        height: 600px; 
        padding-top: 230px;
    }
}
.A1 {
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    filter:opacity(70%);

}
.A1 h3{
    text-align: center;
    color: white;
    font-size:2em;
    text-shadow:3px 3px 5px	#294e70;
    padding:80px; 
    text-align:center;
}

/* 프로필 */

@media screen and (min-width:764px) {
    .box{
        width: 1000px;
        -webkit-box-shadow: 5px 3px 27px -2px rgba(143,180,214,1);
        -moz-box-shadow: 5px 3px 27px -2px rgba(143,180,214,1);
        box-shadow: 5px 3px 27px -2px rgba(143,180,214,1);
    }
    #profile ul{
        margin: 30px 150px 30px 150px;
    }
    .hw{
        margin-bottom:30px;
        width:1000px;
        height: 60px;
        font-size:1.5em;
    }
    #pr{
        position: relative;
        left:-150px;
    }
    #homew {
        position: relative;
        left: 0px;
    }
    #test{
        position: relative;
        left: 150px;
    }
}

.profile_img img{
    margin-top:20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    transition: width 3s;
}
.profile_img img:hover{
    width: 65%;
}
.box {
    margin-top : 40px; 
    margin-bottom: 40px;
    padding-top : 30px;
    padding-bottom : 30px;
}
h2{
    text-align: center;
    border-bottom: 5px double 	#d0d2dc;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight:bold;
    color: #294e70;
}
p {
    margin-bottom: 5px;
    font-weight: bold;
    color: 	#294e70;
    font-size:1.2em;
}
.profile_list{
    margin: 0px 5px;
    border: 2px solid	#6a9bc8;
    padding : 15px;
}
/* hw */
.C3 {
    margin-top:30px;
}
h3, .hw{
    display: inline-block;
}
.hw h3{
    margin:30px 10px;
    font-size: 1.2em;
}
.hw a {
    color:#6a9bc8;
    transition: font-size 3s;
}
.hw i {
    color: #d0d2dc;
}
.hw a:hover{
    color: white;
    text-shadow: 0px 0px 3px #6a9bc8;
    font-size: 80%;
}

/* form */
@media screen and (min-width:764px){
    .D4{
        width: 1000px;
        height: 700px;
        -webkit-box-shadow: 5px 3px 27px -2px rgba(143,180,214,1);
        -moz-box-shadow: 5px 3px 27px -2px rgba(143,180,214,1);
        box-shadow: 5px 3px 27px -2px rgba(143,180,214,1);
    }
    #text textarea{
        margin: 0px; 
        width: 570px; 
        height: 150px;
    }
}
.D4{
    padding-top : 30px;
    padding-bottom : 30px;
    margin-top : 40px; 
    margin-bottom: 40px;
}

.D4 form {
    border : solid 3px #294e70;
    padding : 20px;
    margin : 50px;
}
label {
    margin : 15px;
    font-weight:bold;
    color:#6a9bc8;
    margin : 10px;
    font-size: 22px;
}
.message{
    display: inline-block;
    vertical-align: middle;
}
input[type='submit']{
    font-size:28px;
    color:white;
    font-weight: bold;
    margin-top:10px;
    padding : 8px;
    border: 2px solid white;
    background-color: #6a9bc8;
    -webkit-box-shadow: -2px 4px 18px 0px #d0d2dc;
    -moz-box-shadow: -2px 4px 18px 0px #d0d2dc;
    box-shadow: -2px 4px 18px 0px #d0d2dc;
}
input[type='submit']:hover{
    -webkit-box-shadow: -2px 4px 18px 0px rgba(41,78,112,1);
    -moz-box-shadow: -2px 4px 18px 0px rgba(41,78,112,1);
    box-shadow: -2px 4px 18px 0px rgba(41,78,112,1);
    text-shadow: 2px 2px 3px #294e70;
    color: white;
    border: 1px solid white;
    background-color:#305b82;
}
a{
    text-decoration:none;
    color:black;
}
input[type=name], input[type=e-mail], textarea{
    border: 2px solid #d0d2dc;
    font-family:  'Noto Serif', 'Noto Sans KR';
    padding : 5px;
    background-color:	#d2d3d8;
}
input[type=name]:hover, input[type=e-mail]:hover, textarea:hover{
  background-color:white;
}
.blank{
    text-align:center;
    margin : 15px;
}
textarea {
    margin: 0px; 
    width: 200px; 
    height: 125px;
    resize: none;
}
/* 푸터 */
.j {
    color:#6a9bc8;
    margin-bottom: 30px 0px;
}